.second-title {
  margin-bottom: 24px;
  color: var(--main-white-color);
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
}
@media screen and (min-width: 770px) {
  .second-title {
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 1.25;
  }
}
.orange-title {
  color: var(--secondary-color);
}
.day-five-six .container {
  padding-bottom: 74px;
  background: url(../../images/day56/pngegg1.png) center top -10% no-repeat,
    url(../../images/day56/cloud.png) center bottom -5% no-repeat,
    url(../../images/day56/day56-bcg-mobile.jpg) right top no-repeat;
}
@media (min-width: 770px) {
  .day-five-six .container {
    padding-bottom: 123px;
    padding-top: 16px;
    background: url(../../images/day56/pngegg1.png) right 30% top -12% no-repeat,
      url(../../images/day56/cloud-tablet.png) center bottom -4% no-repeat,
      url(../../images/day56/d56-bcg-tablet.jpg) right top no-repeat;
  }
}
@media (min-width: 1440px) {
  .day-five-six .container {
    padding-top: 124px;
    padding-bottom: 217px;
    background: url(../../images/day56/pngegg1.png) right 12% top -17% no-repeat,
      url(../../images/day56/cloud-dt.png) center bottom -14% no-repeat,
      url(../../images/day56/d56-bcg-dt.jpg) right top no-repeat;
  }
}
p {
  color: var(--main-white-color);
}
.additional {
  margin-top: 24px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
}
.add-list {
  margin-top: 16px;
}
.add-list-text {
  margin-top: 8px;
  color: #bababa;
  font-size: 14px;
  opacity: 0.7;
}
.slider-list {
  position: relative;
  z-index: 3;
  margin-top: 24px;
  /* display: flex;
  flex-wrap: nowrap; */
}

.btn-section {
  margin-top: 32px;
}
.day-six {
  margin-top: 48px;
}
.slider-item {
  display: contents;
}
.img-slider {
  width: 288px;
}
hr {
  margin-top: 16px;
}
.btn {
  width: 38px;
  height: 38px;
  border: rgba(255, 255, 255, 0.5) 1px solid;
  border-radius: 50%;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  color: var(--main-white-color);
  border-color: var(--main-white-color);
}
.btn-next {
  margin-left: 16px;
}
@media screen and (min-width: 770px) {
  .slider-list {
    margin-top: 48px;
  }
  .day-six {
    margin-top: 80px;
  }
  .additional {
    margin-top: 48px;
  }
  .add-list {
    margin-top: 31px;
  }
  .add-item {
    display: flex;
    justify-content: space-between;
  }
  .add-list-text {
    width: 226px;
    margin-top: 0;
  }
  .add-list :nth-child(3) {
    margin-top: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .day-five {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .btn-section {
    display: none;
  }
  .five-text {
    width: 536px;
  }
  .swiper {
    width: 633px;
    height: 320px;
  }
  .img-slider {
    width: 320px;
  }
  .day-six {
    display: flex;
  }
  .day-six-text {
    width: 506px;
  }
}
