.day7 {
    color: cornflowerblue;
}

/* TITLE */

@media (min-width: 320px) {
    .day7 {
        display: flex;
    }
}

@media (min-width: 320px) {
    .main-span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.333;
        color: #F47648;
    }
}


@media (min-width: 320px) {
    .main-title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.333;
        color: #212121;
    }
}

@media (min-width: 320px) {
    .day7-text {
        margin-top: 24px;
    }
}

@media (min-width: 320px) {
    .main-text {
        font-size: 16px;
        line-height: 1.5;
        color: #313131;
    }
}