<h1 class="day1">d1</h1>
<section class="day-one">
  <div class="container day-one-container">
    <h2 class="visually-hidden">Day 2</h2>
    <h3 class="day-one-title">
      <span class="day-one-span">Day 1.</span> Arrival. Meeting at the airport
      and accommodation
    </h3>
    <ul class="day-one-list">
      <li class="day-one-item">
        <p class="day-one-text">
          From a bird's eye view you will see the famous "home" volcanoes -
          Koryaksky, Avachinsky and Kozelsky.
          <span class="text-span"
            >At the exit at the airport you will be met with a sign "DREAM
            TOUR".</span
          >
        </p>
      </li>
      <li class="day-one-item">
        <p class="day-one-text">
          <span class="text-span">On the way to the hotel,</span> collecting
          funds from the members of the group, briefing on the program of this
          day (thermal water pool, barbecue, acquaintance with the group,
          alcohol, fireworks not earlier than 20:00).
        </p>
      </li>
      <li class="day-one-item">
        <p class="day-one-text">
          After departure (the type of transport depends on the size of the
          group) to the recreation center in the resort village of Paratunka.
        </p>
      </li>
      <li class="day-one-item">
        <p class="day-one-text">
          <span class="text-span">In the evening,</span> after the arrival of
          all participants in Kamchatka (if the flights are different),
          <span class="text-span">a general meeting,</span> checking equipment,
          discussing the program for tomorrow.
        </p>
      </li>
    </ul>
    <div>
      <div class="carousel-container">
        <ul class="carousel-list">
          <li class="carousel-item">
            <img
              src="../images/hero/hero-swiper-third.png"
              alt=""
              class="mount"
            />
            <div class="text-container">
              <h4 class="carousel-title">Paratunka</h4>
              <p class="carousel-text">
                Some auxiliary text that briefly describes what is in the
                picture.
              </p>
            </div>
          </li>
          <li class="carousel-item">
            <img
              src="../images/hero/hero-swiper-third.png"
              alt=""
              class="mount"
            />
            <div class="text-container">
              <h4 class="carousel-title">Paratunka</h4>
              <p class="carousel-text">
                Some auxiliary text that briefly describes what is in the
                picture.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="btn-container">
        <button type="button" class="day-one-btn">
          <svg class="arrow-left">
            <use href="../images/icon.svg#arrow"></use>
          </svg>
        </button>
        <button type="button" class="day-one-btn">
          <svg class="arrow-right">
            <use href="../images/icon.svg#arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
