<section class="section-two">

    <div class="container">

        <h2 class="title-dark">
            <span class="title-orange">День 2.</span>
            Вилючинский водопад, вулкан и Верхне-Паратунские термальные источники
        </h2>


        <ul>
            <li>
                <p>Инструктаж перед поездкой (передвижение и поведение группы в лесу, общение с медведями, форма одежды,
                    ), снаряжение,
                    (взять тару для воды при заезде на Зайкин ключ, купальные принадлежности).
                </p>
            </li>

            <li>
                <p> Сбор участников на Роуп Джамп для прыжков с высоты над водопадом. Заранее решаем кто прыгает.

                </p>
            </li>

        </ul>

        <img srcset="../images-day-two/mountain.png 1x, ../images-day-two/mountain@2x.png 2x"
            src="../images-day-two/mountain.png" alt="mountain">


        <ul>

            <li>
                <p>Выезд из отеля в 10.00. Переезд в верховья реки Паратунка к подножию вулкана Вилючинский. Обзорная
                    пешеходная экскурсия
                    к водопаду Вилючинский. Термос с чаем, шоколад. Возвращение назад.
                </p>
            </li>

            <li>
                <p>Обед. Купание в Верхне-Паратунских термальных источниках, расположенных на склоне сопки Горячая.
                </p>
            </li>

            <li>
                <p>Продолжительность – 6-8 часов. Трансфер в гостиницу.</p>
            </li>
        </ul>


        <img srcset="../images-day-two/paratynka.jpg 1x, ../images-day-two/paratynka@2x.jpg 2x"
            src="../images-day-two/paratynka.jpg" alt="mountain viev" width="288" height="288"></img>
        <h3>Паратунка</h3>

        <p>Какой-то вспомогательный текст, в котором кратко описывается что на картинке.</p>

        <button type="button">
            <svg height="24px" width="24px">
                <use></use>
            </svg>
        </button>
        <button type="button">
            <svg height="24px" width="24px">
                <use></use>
            </svg>
        </button>



        <h3>На протяжении маршрута вас ожидает:</h3>

        <ul>
            <li>
                <a href="">
                    <img srcset="../images-day-two/audio.jpg 1x, ../images-day-two/audio@2x.jpg 2x"
                        src="../images-day-two/audio.jpg" alt="music player" width="288" height="182">

                    <div>
                        <h3>Аудиосопровождение</h3>
                        <p>Новый способ увидеть и услышать, то место, где вы находитесь. С помощью аудиогида вы сможете
                            совершить увлекательную
                            экскурсию по городу.</p>
                    </div>

                </a>
            </li>


            <li>
                <a href="">
                    <img srcset="../images-day-two/eat.jpg 1x, ../images-day-two/eat@2x.jpg 2x"
                        src="../images-day-two/eat.jpg" alt="japanese food" width="288" height="182">

                    <div>
                        <h3>Разнообразное питание</h3>
                        <p>Каждый обед мы готовим с большой любовью. Кормим вас традиционными камчатскими блюдами. Еда -
                            залог хорошего отдыха!</p>
                    </div>

                </a>
            </li>


            <li>
                <a href="">
                    <img srcset="../images-day-two/safety-on-the-route.jpg 1x, ../images-day-two/safety-on-the-route@2x.jpg 2x"
                        src="../images-day-two/safety-on-the-route.jpg" alt="safety on the route" width="288"
                        height="182">

                    <div>
                        <h3>Безопасность на маршруте</h3>
                        <p>Наша команда проводит инструктаж, рассказывает как правильно себя вести, как избежать опасных
                            ситуаций.</p>
                    </div>

                </a>
            </li>


            <li>
                <a href="">
                    <img srcset="../images-day-two/group-of-people.jpg 1x, ../images-day-two/group-of-people@2x.jpg 2x"
                        src="../images-day-two/group-of-people.jpg" alt="safety on the route on the mountain"
                        width="288" height="182">

                    <div>
                        <h3>Потрясающие фото</h3>
                        <p>Можете не переживать, что не успели сделать фото. Наш фотограф успевает везде и за всеми. У
                            вас
                            будут самые лучшие фото!</p>
                    </div>

                </a>
            </li>
        </ul>




    </div>

</section>