<section class="day-five-six">
  <div class="container">
    <div class="day-five">
      <div class="five-text">
        <h1 class="second-title">
          <span class="orange-title">День 5.</span> Морская прогулка к острову
          Старичков
        </h1>
        <p>
          Инструктаж по поведению группы при передвижении на плавсредствах,
          приему таблеток от морской болезни.
        </p>
        <br />
        <p>
          Выезд на причал. Морская прогулка по Авачинской бухте. Осмотр панорамы
          города Петропавловска-Камчатского, Авачинской губы и Авачинского
          залива. Маршрут пролегает мимо бухты Тихая, острова Бабушкин камень,
          мыса Станицкого, камней «Три брата». Увлекательная возможность донной
          рыбалки на терпуга, ленка, камбалу у «Трех братьев», мыса Безымянный,
          у острова Старичков.
        </p>
        <br />
        <p>
          Осмотр птичьих базаров - смешанных колонии кайр, моевок и бакланов.
          Трансфер в гостиницу.
        </p>
        <br />
        <p>Продолжительность 6 часов.</p>
      </div>
      <!-- Slider -->
      <div class="swiper image-slider slider-list">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="image-wrapper">
              <img
                src="../images/day56/img1.jpg"
                srcset="
                  ../images/day56/img1.jpg    1x,
                  ../images/day56/img1@2x.jpg 2x
                "
                alt="img1"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-wrapper">
              <img
                src="../images/day56/img2.jpg"
                srcset="
                  ../images/day56/img2.jpg    1x,
                  ../images/day56/img2@2x.jpg 2x
                "
                alt="img2"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-wrapper">
              <img
                src="../images/day56/img3.jpg"
                srcset="
                  ../images/day56/img3.jpg    1x,
                  ../images/day56/img3@2x.jpg 2x
                "
                alt="img3"
              />
            </div>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <div class="btn-section">
        <button type="button" class="btn btn-prv">&larr;</button>
        <button type="button" class="btn btn-next">&rarr;</button>
      </div>
    </div>
    <div class="day-six">
      <div class="day-six-text">
        <h2 class="second-title">
          <span class="orange-title">День 6.</span> Берег Тихого океана,
          экскурсия по городу
        </h2>
        <p>
          Поездка на берег Тихого океана, в район Халактырского пляжа. Прогулка.
          Обед в городе. Обзорная экскурсия по г. Петропавловску-Камчатскому с
          посещением смотровых площадок.
        </p>
        <br />
        <p>Рыбный рынок. Продолжительность -5 часов. Трансфер в гостиницу.</p>
        <p class="additional">Дополнительные услуги</p>
        <ul class="list add-list">
          <li class="add-item">
            <p class="add-list-title">Серфинг</p>
            <p class="add-list-text">
              Прыжки с высоты над водопадом. Записываться заранее.
            </p>
          </li>
          <hr />
          <li class="add-item">
            <p class="add-list-title">SUP борды</p>
            <p class="add-list-text">
              Прыжки с высоты над водопадом. Записываться заранее.
            </p>
          </li>
          <hr />
        </ul>
      </div>

      <!-- Slider -->
      <div class="swiper image-slider slider-list">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="image-wrapper">
              <img
                src="../images/day56/img1.jpg"
                srcset="
                  ../images/day56/img1.jpg    1x,
                  ../images/day56/img1@2x.jpg 2x
                "
                alt="img1"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-wrapper">
              <img
                src="../images/day56/img2.jpg"
                srcset="
                  ../images/day56/img2.jpg    1x,
                  ../images/day56/img2@2x.jpg 2x
                "
                alt="img2"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-wrapper">
              <img
                src="../images/day56/img3.jpg"
                srcset="
                  ../images/day56/img3.jpg    1x,
                  ../images/day56/img3@2x.jpg 2x
                "
                alt="img3"
              />
            </div>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <div class="btn-section">
        <button type="button" class="btn btn-prv">&larr;</button>
        <button type="button" class="btn btn-next">&rarr;</button>
      </div>
    </div>
  </div>
</section>
