<footer class="footer">
  <div class="container">
    <nav class="footer-nav">
      <a href="#" class="logo">
        <svg class="logo-img"><use></use></svg>
      </a>
      <ul class="site-nav">
        <li>Tour schedule</li>
        <li>Price</li>
        <li>How to sign up</li>
        <li>Team</li>
      </ul>
    </nav>
    <div class="instagram">
      <p>@dreamkamtour</p>
      <button class="button">Subscribe</button>
      <div class="inst-photo">
        <ul>
          <li><img src="" alt="" /></li>
          <li><img src="" alt="" /></li>
          <li><img src="" alt="" /></li>
          <li><img src="" alt="" /></li>
          <li><img src="" alt="" /></li>
          <li><img src="" alt="" /></li>
        </ul>
      </div>
    </div>
    <div class="video">
      <div class="video-link">
        <img src="" alt="" />
        <a href=""
          ><svg class="play-icon"><use></use></svg>
        </a>
        <p>Смотрите видео отзывы наших клиентов</p>
        <a href="">Перейти в Instagram</a>
      </div>
      <div class="socials-list">
        <p>Social media</p>
        <ul>
          <li>
            <svg class="item"><use></use></svg>
          </li>
          <li>
            <svg class="item"><use></use></svg>
          </li>
          <li>
            <svg class="item"><use></use></svg>
          </li>
        </ul>
      </div>
    </div>
    <div class="contacts">
      <p>+ 7 (760) 354-23-23</p>
      <p>Работаем с 9:00 до 18:00</p>
      <p>info@dreamkamtour.ru</p>
      <p>ул. Рубиннштерна, 41</p>
    </div>
  </div>
  <div class="copyright"><p>2021 © Dreamkam Tour</p></div>
</footer>
