<footer class="footer">
  <div class="container">
    <nav class="footer-nav">
      <a href="#" class="footer-logo">
        <svg class="footer-img">
          <use href="../images/icon.svg#logo-footer"></use>
        </svg>
      </a>
      <ul class="site-nav-footer">
        <li><a href="#" class="nav-footer">Tour schedule</a></li>
        <li><a href="#" class="nav-footer">Price</a></li>
        <li><a href="#" class="nav-footer">How to sign up</a></li>
        <li><a href="#" class="nav-footer">Team</a></li>
      </ul>
    </nav>
    <div class="instagram">
      <a class="inst-name">@dreamkamtour</a>
      <button class="button-footer" type="button">Subscribe</button>
    </div>
    <div class="inst-photo">
      <ul class="inst-list">
        <li class="inst-item">
          <img
            src="../images/footer/bus.png"
            srcset="../images/footer/bus.png 1x, ../images/footer/bus@2x.png 2x"
            alt="bus"
            width="91"
            height="97"
          />
        </li>
        <li class="inst-item">
          <img
            src="../images/footer/seal.png"
            srcset="
              ../images/footer/seal.png    1x,
              ../images/footer/seal@2x.png 2x
            "
            alt="seal"
            width="91"
            height="97"
          />
        </li>
        <li class="inst-item">
          <img
            src="../images/footer/road.png"
            srcset="
              ../images/footer/road.png    1x,
              ../images/footer/road@2x.png 2x
            "
            alt="road"
            width="91"
            height="97"
          />
        </li>
        <li class="inst-item">
          <img
            src="../images/footer/moment.png"
            srcset="
              ../images/footer/moment.png    1x,
              ../images/footer/moment@2x.png 2x
            "
            alt="moment"
            width="91"
            height="97"
          />
        </li>
        <li class="inst-item">
          <img
            src="../images/footer/road.png"
            srcset="
              ../images/footer/road.png    1x,
              ../images/footer/road@2x.png 2x
            "
            alt="road"
            width="91"
            height="97"
          />
        </li>
        <li class="inst-item">
          <img
            src="../images/footer/bus.png"
            srcset="../images/footer/bus.png 1x, ../images/footer/bus@2x.png 2x"
            alt="bus"
            width="91"
            height="97"
          />
        </li>
      </ul>
    </div>

    <div class="video">
      <div class="video-link">
        <img
          src="../images/footer/video.png"
          srcset="
            ../images/footer/video.png    1x,
            ../images/footer/video@2x.png 2x
          "
          alt="video"
        />
        <a href="#" class="play-link"
          ><svg class="play-icon" width="9" height="12">
            <use href="../images/icon.svg#play"></use>
          </svg>
        </a>
        <div class="video-text">
          <p class="footer-text">Дивіться відео відгуки наших клієнтів</p>
          <a href="#" class="inst-link">Перейти в Instagram</a>
        </div>
      </div>
      <div class="socials-container">
        <p class="socials-title">Соціальні мережі</p>
        <ul class="socials-list">
          <li>
            <svg class="item" width="20" height="20">
              <use href="../images/icon.svg#facebook-footer"></use>
            </svg>
          </li>
          <li>
            <svg class="item" width="20" height="20">
              <use href="../images/icon.svg#instagram-footer"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
    <address>
      <a href="tel:+110001111111" class="contacts-phone"
        >+ 38 (066) 354-23-23</a
      >
      <p class="schedule-text">Працюємо с 9:00 до 18:00</p>
      <a href="mailto:info@dreamkamtour.com" class="contacts"
        >info@dreamkamtour.com</a
      >
      <p class="contacts">вул. Пушкінська, 41</p>
    </address>
  </div>
  <div class="copyright"><p>2021 © Dreamkam Tour</p></div>
</footer>
