<header class="header">
  <div class="container">
    <nav class="header-nav">
      <div class="logo-item">
        <a href="#" class="logo">
          <svg class="logo-img"><use href="../images/icon.svg#logo"></use></svg>
        </a>
      </div>
      <div class="main-nav">
        <ul class="site-nav">
          <li class="item"><a href="#" class="nav-link">Tour schedule</a></li>
          <li class="item"><a href="#" class="nav-link">How to sign up</a></li>
          <li class="item"><a href="#" class="nav-link">Team</a></li>
        </ul>
        <button class="main-button" type="button">Book</button>

        <button class="js-open-menu button-burger" type="button">
          <svg width="28" height="28">
            <use class="icon-burger" href="../images/icon.svg#burger"></use>
          </svg>
        </button>
      </div>
    </nav>

    <!-- menu mobile -->
  </div>
</header>
