<h1 class="hero">Dreams of distant Honshu - close</h1>
<span>23.06 - 04.07 DREAM TOUR</span>
<p>
  The tour will turn your world upside down and leave impressions of a lifetime.
</p>
<div class="buttons">
  <button class="button"></button>
  <button class="button"></button>
</div>
<div class="socials">
  <svg class="socials-icon" width="20" height="20"><use></use></svg>
  <svg class="socials-icon" width="20" height="20"><use></use></svg>
</div>
<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="" alt="" /></div>
    <div class="swiper-slide"><img src="" alt="" /></div>
    <div class="swiper-slide"><img src="" alt="" /></div>
    <div class="swiper-button-prev">
      <svg class="socials-icon" width="20" height="20"><use></use></svg>
    </div>
    <div class="swiper-button-next">
      <svg class="socials-icon" width="20" height="20"><use></use></svg>
    </div>
  </div>
</div>
