<!-- левый слайдер -->
<div class="slick slider-list slider-list-left">
  <div class="slick__list responsive left-list">
    <div class="slick__item">
      <div class="slick__box">
        <img
          src="../images/day56/img1.jpg"
          srcset="../images/day56/img1.jpg 1x, ../images/day56/img1@2x.jpg 2x"
          alt="img1"
          class="img-item"
        />
      </div>
    </div>
    <div class="slick__item">
      <div class="slick__box">
        <img
          src="../images/day56/img2.jpg"
          srcset="../images/day56/img2.jpg 1x, ../images/day56/img2@2x.jpg 2x"
          alt="img2"
          class="img-item"
        />
      </div>
    </div>
    <div class="slick__item">
      <div class="slick__box">
        <img
          src="../images/day56/img3.jpg"
          srcset="../images/day56/img3.jpg 1x, ../images/day56/img3@2x.jpg 2x"
          alt="img3"
          class="img-item"
        />
      </div>
    </div>
  </div>
</div>

<!-- правый слайдер -->
<div class="slick slider-list">
  <div class="slick__list responsive list">
    <div class="slick__item">
      <div class="slick__box">
        <img
          src="../images/day56/img1.jpg"
          srcset="../images/day56/img1.jpg 1x, ../images/day56/img1@2x.jpg 2x"
          alt="img1"
          class="img-item"
        />
      </div>
    </div>
    <div class="slick__item">
      <div class="slick__box">
        <img
          src="../images/day56/img2.jpg"
          srcset="../images/day56/img2.jpg 1x, ../images/day56/img2@2x.jpg 2x"
          alt="img2"
          class="img-item"
        />
      </div>
    </div>
    <div class="slick__item">
      <div class="slick__box">
        <img
          src="../images/day56/serf.jpg"
          srcset="../images/day56/serf.jpg 1x, ../images/day56/serf@2x.jpg 2x"
          alt="img3"
          class="img-item"
        />
      </div>
    </div>
  </div>
</div>
